<!DOCTYPE html>
<html lang="zh-cn">

<head>
    {% block head %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{%block title%}  {%endblock title%}-{{ admin.blog_title|default('Blog Title',None) }}</title>
    <link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.css" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/base.css') }}">
    {% endblock head %}
</head>

<body>

    {% block navbar %}
    <div class="navbar navbar-default navbar-fixed-top">
        <div class="contatiner">
            <div class="navbar-header" style="margin-left: auto;">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
                    aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="{{ url_for('blog.index') }}">{{ admin.blog_title|default('Blog Title',None) }}</a>

            </div>
            <div id="navbar" class="navbar-collapse collapse">
                <ul class="nav navbar-nav navbar-right" style="margin-right:auto; align-self: auto;;">
                    <li id="home"><a href="{{url_for('blog.index')}}">Home</a></li>
                    <li id="about"><a href="{{url_for('blog.about')}}">About Me</a></li>
                    {% if current_user.is_authenticated %}
                    <li  class="dropdown">
                        <a href="{{url_for('admin.mange')}}" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Mange <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="{{url_for('admin.mange')}}" >Manger</a></li>
                            <li role="separator" class="divider"></li>
                            <li><a href="{{url_for('admin.get_auth_token')}}">Token</a></li>
                            <li><a href="{{url_for('admin.settings')}}">Settings</a></li>
                            <li><a href="{{url_for('admin.reset_password')}}">Reset Password</a></li>
                          </ul>
                    </li>
                    </li>
                    <li id="logout"><a href="{{url_for('auth.logout',next=request.full_path)}}">Log Out</a></li>
                    {% else %}
                    <li id="login"><a href="{{ url_for('auth.login', next=request.full_path) }}">Log In</a></li>
                    {% endif %}

                </ul>
            </div>
        </div>
    </div>
    {% endblock %}
    <main class="container ">
        {% with messages = get_flashed_messages(with_categories=true) %}
        <!-- Categories: success (green), info (blue), warning (yellow), danger (red) -->
        {% if messages %}
        {% for category, message in messages %}
        <div class="alert alert-{{ category }} alert-dismissible" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span
                    aria-hidden="true">&times;</span></button>
            {{ message }}
        </div>
        {% endfor %}
        {% endif %}
        {% endwith %}

        {% block content %}{% endblock content %}
        {% block footer %} {% endblock footer %}
    </main>
    {% block scripts %}
    <script src="https://code.jquery.com/jquery/1.12.4/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="../../static/js/jquery.min.js"><\/script>')</script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    {{ moment.include_moment(local_js=url_for('static', filename='js/moment-with-locales.min.js')) }}
    <script src={{url_for('static',filename='js/base.js')}}></script>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-116710997-2"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'UA-116710997-2');
    </script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.4/MathJax.js">
    </script>
    <script type="text/x-mathjax-config">
        MathJax.Hub.Config({
          config: ["MMLorHTML.js"],
          jax: ["input/TeX", "output/HTML-CSS", "output/NativeMML"],
          extensions: ["MathMenu.js", "MathZoom.js"]
        });
    </script>
    {% endblock %}
</body>

</html>