{% extends 'base.html' %}
{% from "bootstrap/form.html" import render_form %}

{% block title %}Token{% endblock %}

{% block content %}
<script type="text/javascript">
  function copyUrl2() {
    var Url2 = document.getElementById("token_text");
    Url2.select();
    document.execCommand("Copy");
    alert("Copied success");
  }
</script>
<div class="container-fluid">
  <div class="panel panel-info">
    <div class="panel-heading">
      <h3 class="panel-title ">Current user: {{current_user.username}}</h3>
    </div>
    <div class="panel-body" id="resizeable">
      <div class="container-fluid">
        <div class="row">
          <div class="col-md-12">
            <textarea rows="2" cols="20" id="token_text" class="well">{{token}}</textarea>
          </div>
          <div class="col-md-2 col-sm-4 col-xs-6 c">
            <input class="btn btn-primary" type="button" onClick="copyUrl2()" value="Click to copy" />
          </div>
          <div class="col-md-2 col-md-offset-8 col-sm-4 col-sm-offset-4 col-xs-6 c">
            <a class="btn   btn-danger" href="{{url_for('auth.get_auth_token',reset=True)}}">Click to
              reset</a>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>

{% endblock %}

{% block footer %}{% endblock %}