* {
    box-sizing: border-box;
}

body {
    min-height: 90vh;
    padding-top: 70px;
}


.navbar-brand {
    font-family: "Palatino Linotype", "Book Antiqua", Palatino, Helvetica, STKaiti, SimSun, serif;
    font-size: 150%;
}


.title {
    cursor: pointer;
    padding: 15px 20px;
}

li.title:hover {
    background-color: #eee;
}

.panel {
    border-radius: 0;
}

.panel-default > .panel-heading {
    background-image: none;
    background-color: #fff;
}

.navbar-default {
    background-image: none;
    background-color: #fff;
    box-shadow: none;
}


div.outer {
    margin: 5% 10% 2% 10%;
}

div.date {
    display: inline-block;
    color: darkgray;
}

.token{
    white-space:pre-wrap;
    white-space:-moz-pre-wrap;
    white-space:-pre-wrap;
    white-space:-o-pre-wrap;
    word-wrap:break-word;
}    



textarea {
    width:100%;
    height:100%;
}
   
#resizable {
    height: 100px;
    width: 100px;
    font-size: 10px;
    background: #ddd;
}