{% extends 'base.html' %}

{% block title %}About Me{% endblock %}

{% block content %}
<div class="container-fluid">
  <div class="page-header">
    <h1>{{admin.username}}</h1>
    <div align='right'>
      <h3 class="text"><em>{{admin.blog_sub_title}}</em></h3>
    </div>

  </div>
  <div id="content"></div>

  <script src="https://cdn.jsdelivr.net/npm/marked/marked.min.js"></script>
  <script>
    document.getElementById('content').innerHTML = marked(`{{admin.about|safe}}`);
  </script>
</div>
{% endblock %}