{% extends 'base.html' %}
{% block title %}{{ post.title }}{% endblock %}

{% block content %}
    <div class="page-header">
    </div>
    <div class="row">
        <div class="col-sm-8"  height=auto style="height:98vh">
            <script src="https://cdn.jsdelivr.net/npm/marked/marked.min.js"></script>
        <script>
            document.getElementById('content').innerHTML =
            marked('# Marked in the browser\n\nRendered by **marked**.');
        </script> 
            <iframe src="{{url_for('blog.show_article', article_id=post.id)}}"   scrolling="no"></iframe>
        </div>
    </div>
    
{% endblock %}